@model WebStoreCoreApplication.Domain.ViewModels.BreadCrumbsViewModel
<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Base" asp-active="Index">Главная</a></li>
        <li class="active"><a asp-controller="Catalog" asp-active="Shop">Каталог</a></li>

        @if (Model.Category != null)
        {
            if (Model.Category.ParentCategory != null)
            {
                <li class="active">
                    <a asp-controller="Catalog" asp-action="Shop" asp-route-CategoryId="@Model.Category.ParentCategory.Id">@Model.Category.ParentCategory.Name</a>
                </li>
            }
            <li class="active">
                <a asp-controller="Catalog" asp-action="Shop" asp-route-CategoryId="@Model.Category.Id">@Model.Category.Name</a>
            </li>
        }


        @if (Model.Brand != null)
        {
            <li class="active">
                <a asp-controller="Catalog" asp-action="Shop" asp-route-BrandId="@Model.Brand.Id">@Model.Brand.Name</a>
            </li>
        }


        @if (Model.Category != null)
        {
            <li class="active">
                @Model.Category.Name
            </li>
        }
    </ol>
</div><!--/breadcrums-->